:root {
	color-scheme: light dark;
	--pickled-bluewood: oklch(0.3762 0.0521 258.29);
	--swans-down: oklch(0.9384 0.0233 190.16);
	--almost-white: oklch(0.98 0.01 0);
	--beige: oklch(0.96 0 0);
	--blue: oklch(0.55 0.15 249.15);

	--grain: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='n'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.7'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23n)' opacity='0.25'/%3E%3C/svg%3E");

	--page-grid-gap: 1rem;
	--page-gutter: 1rem;
	--page-grid: [full-start] minmax(var(--page-gutter), 1fr) [content-start]
		repeat(12, minmax(0, 1fr)) [content-end] minmax(var(--page-gutter), 1fr) [full-end];
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

body,
html {
	min-height: 100svh;
}

body {
	font-family: 'Archivo-Variable', Helvetica, Arial, sans-serif;
	background: light-dark(var(--swans-down), var(--pickled-bluewood));
	color: light-dark(var(--pickled-bluewood), var(--swans-down));
}

/**
TYPOGRAPHY
*/

@font-face {
	font-family: 'ClashDisplay-Variable';
	src: url('/fonts/ClashDisplay-Variable.woff2') format('woff2-variations');
	font-weight: 200 700;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'Satoshi-Variable';
	src: url('/fonts/Satoshi-Variable.woff2') format('woff2-variations');
	font-weight: 300 900;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'Satoshi-VariableItalic';
	src: url('/fonts/Satoshi-VariableItalic.woff2') format('woff2-variations');
	font-weight: 300 900;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'Archivo-Variable';
	src: url('/fonts/Archivo-Variable.woff2') format('woff2-variations');
	font-weight: 100 900;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'Archivo-VariableItalic';
	src: url('/fonts/Archivo-VariableItalic.woff2') format('woff2-variations');
	font-weight: 100 900;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'Instrument';
	src: url('/fonts/InstrumentSerif-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

h1 {
	font-family: 'Instrument', sans-serif;
	font-weight: 400;
	font-style: normal;
	margin: 0;
}
